[Unit]
Description=Wall Clock
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/pi/software/Wall-Clock-V2
ExecStart=/usr/bin/python3 -u /home/pi/software/Wall-Clock-V2/wall_clock.py
Restart=on-abort

[Install]
WantedBy=multi-user.target